.nav-menu{
    display: none;
}

#burger-container{
    width: 320px;
    position: fixed;
}
.bc-open{
    background: #292929;
    min-height: 250px;
    z-index: 3;
}
#burger-button{
    width: 30px;
    height: 30px;
    border: 0;
    background: rgba(0,0,0,0);
}
#burger-button span,
#burger-button span:before,
#burger-button span:after{
    display: block;
    position: absolute;
    background: #F1CDB3;
    height: 4px;
    opacity: 1;
    transition: 0.3s ease-in-out;
}
#burger-button span:before,
#burger-button span:after{
    content: "";
}
#burger-button span{
    width: 30px;
    right: 0;
}
#burger-button span:before{
    left: 0;
    top: -10px;
    width: 30px;
}
#burger-button span:after{
    left: 0;
    top: 10px;
    width: 30px;
}
.b-button{
    transform: rotate(0);
}
.b-button-close{
    transform: rotate(-90deg);
}

#burger{
    width: 300px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nav-show{
    visibility: visible;
    text-align: center;
    z-index: 4;
}
.nav-hide{
    visibility: hidden;
}

.burger-a{
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;

    color: #CDCDCD;

    text-decoration: none;
}
.activated{
    border-bottom: solid 3px #F1CDB3;
}


#card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 0;
    width: 1200px;


    margin: 0 auto;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    width: 270px;
    height: 435px;

}
.pet-name{
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #545454;
}
.pets-learn-more {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    white-space: nowrap;
    letter-spacing: 0.06em;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    gap: 10px;

    width: 187px;
    height: 52px;

    border: 2px solid #F1CDB3;
    border-radius: 100px;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.pet-img {
    border-radius: 9px 9px 0 0;

    z-index: 1;
}
.inactive-card{
    display: none;
}


#navigation-bar{
    width: 340px;
    height: 52px;
    margin: 20px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav-bar-pets{
    box-sizing: border-box;

    width: 52px;
    height: 52px;

    border-radius: 100px;
    background: #fff;
    border: 2px solid #F1CDB3;
}
#nav-bar-number {
    background: #F1CDB3;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}
.nav-bar-inactive{
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    color: #CDCDCD;
}
