@media screen and (min-width: 1280px) {
    body {
        position: relative;
        max-width: 1280px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #header {
        width: 1200px;
        height: 60px;
        margin-top: 60px;
        z-index: 1;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #logo {
        width: 184px;
        height: 60px;
    }
    #logo a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
    }
    #logo-title {
        width: 200px;
        height: 35px;

        margin: 0;
        color: #F1CDB3;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
    }
    #logo-sub {
        width: 180px;
        height: 15px;

        color: #ffffff;

        font-family: 'Arial', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
    }
    #nav-menu {
        width: 443px;
        height: 27px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .a-nav-menu {
        font-family: 'Arial', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #CDCDCD;
        text-decoration: none;
    }
    .activated {
        color: #FAFAFA;
        border-bottom: solid 3px #F1CDB3;
    }
    #burger-container{
        display: none;
    }

    #start-screen {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: -120px;

        width: 100%;
        height: 908px;


        background: url("../../assets/images/start-screen-background.jpg"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    }
    #start-screen-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 1200px;
        height: 728px;
    }
    #start-screen-text {
        width: 460px;
        height: 322px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    #start-screen-text-heading {
        width: 310px;
        height: 114px;
        margin: 0;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;

        color: #FFFFFF;
    }
    #start-screen-text-text {
        width: 460px;
        height: 72px;
        margin: 0;

        font-family: 'Arial', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;

        color: #CDCDCD;
    }
    #start-screen-text-button {
        width: 207px;
        height: 52px;

        background: #F1CDB3;
        border-radius: 100px;
        border: 3px solid #F1CDB3;

        color: #292929;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
    }
    #start-screen-img {
        align-self: flex-end;

        margin-bottom: -90px;;
        width: 698px;
        height: 728px;
    }

    #about {
        height: 588px;
        width: auto;
        background-color: #ffffff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #about-content {
        width: 1200px;
        height: 408px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #about-img {
        width: 300px;
        height: 408px;
    }
    #about-content-text {
        width: 410px;
        height: 380px;
    }
    #about-heading {
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        width: 360px;
        margin: 0;
    }
    #about-sub1 {
        font-family: 'Arial', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        margin-top: 20px;
    }

    #pets {
        height: 877px;
        background: #F6F6F6;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #pets-content {
        width: 1200px;
        height: 697px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #pets-heading {
        width: 400px;
        height: 90px;
        margin-top: 0;

        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;

        color: #545454;

    }
    #pets-slider {
        width: 1200px;
        height: 435px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .pets-arrow-button {
        box-sizing: border-box;

        align-items: center;
        padding: 23px 19px;
        position: relative;
        width: 52px;
        height: 52px;
        left: 0;
        top: 192px;

        background: white;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
    }
    .rotate-arrow {
        transform: rotate(180deg);
    }
    .card {
        position: relative;
        width: 270px;
        height: 435px;
        top: 0;

        background: #FAFAFA;
        border-radius: 9px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .pets-learn-more {
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;

        letter-spacing: 0.06em;

        color: #292929;

        padding: 0;

        width: 187px;
        height: 52px;

        background: #ffffff;
        border-radius: 100px;
        border: #F1CDB3 2px solid;

        white-space: nowrap;


    }
    .pet-name {
        width: 74px;
        height: 23px;

        /* pets-card-title */

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */

        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        color: #545454;

        z-index: 1;
    }
    .pet-img {

        border-radius: 9px 9px 0 0;

        z-index: 1;
    }
    #pets-button {
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;

        letter-spacing: 0.06em;

        color: #292929;

        padding: 15px 45px;
        gap: 10px;
        margin-top: 60px;

        width: 261px;
        height: 52px;

        background: #F1CDB3;
        border-radius: 100px;
        border: #F1CDB3;

        white-space: nowrap;
    }

    #help {
        height: 611px;

        background: #FFFFFF;
    }
    #help-content {
        width: 1200px;
        height: 431px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #help-heading {
        width: 308px;
        height: 90px;
        top: 0;
        margin: auto;
        padding-top: 7%;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;

        text-align: center;
        letter-spacing: 0.06em;

        color: #545454;
    }
    .card-list {
        width: 1026px;
        height: 281px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .help-list-item {
        width: 82px;
        height: 125px;
        margin: 20px 60px;

        display: flex;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;
    }
    .help-list-img {
        height: 60px;
    }
    .help-list-text {
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;

        /* color-dark-l */

        color: #545454;
    }

    #donation {
        width: 100%;
        height: 462px;
        background: #F6F6F6;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #donat-content {
        width: 915px;
        height: 282px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #donat-img {
        width: 505px;
        height: 261px;
    }
    #donat-content-content {
        width: 380px;
        height: 282px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    #donat-heading {
        width: 300px;
        height: 90px;
        margin: 0;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        /* or 45px */

        display: flex;
        align-items: center;
        letter-spacing: 0.06em;

        /* color-dark-l */

        color: #545454;

    }
    #donat-content-bank {
        width: 320px;
        height: 17px;
        margin: 0;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 110%;
        /* identical to box height, or 17px */

        display: flex;
        align-items: center;
        letter-spacing: 0.06em;

        /* color-dark-l */

        color: #545454;

    }
    #donat-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        /*margin-top: 10px;*/

        width: 349px;
        height: 43px;

        background: #F1CDB3;
        border-radius: 9px;
        text-decoration: none;
    }
    #donat-logo {
        width: 30px;
        height: 23px;
    }
    #donat-content-content-bank-number {
        width: 280px;
        height: 23px;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        display: flex;
        align-items: center;
        letter-spacing: 0.06em;

        color: #545454;
    }
    #donat-inf {
        width: 380px;
        height: 72px;

        font-family: 'Arial', serif;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;

        display: flex;
        align-items: center;

        color: #B2B2B2;

    }

    #footer {
        height: 350px;
        width: 100%
    ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background: url("../../assets/images/start-screen-background.jpg"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    }
    #footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        width: 1200px;
        height: 310px;
    }
    #footer-contacts {
        width: 278px;
        height: 234px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    #footer-contacts-heading {
        width: 278px;
        height: 90px;
        margin: 0;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 130%;

        letter-spacing: 0.06em;

        color: #FFFFFF;
    }
    #footer-contacts-mail {
        width: 251px;
        height: 32px;
    }
    #footer-contacts-mail a, #footer-contacts-phone a{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        text-decoration: none;
    }
    #mail-logo {
        width: 40px;
        height: 26px;
    }
    #footer-mail-name {
        width: 191px;
        height: 23px;
        margin: 0;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        letter-spacing: 0.06em;

        color: #F1CDB3;
    }
    #footer-contacts-phone {
        width: 239px;
        height: 32px;
    }
    #phone-icon {
        width: 40px;
        height: 32px;
    }
    #footer-phone-number {
        width: 185px;
        height: 23px;
        margin: 0;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        letter-spacing: 0.06em;

        color: #F1CDB3;
    }
    #footer-location {
        /*width: 302px;*/
        height: 234px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    #footer-location-heading {
        width: 270px;
        height: 90px;
        margin: 0;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 130%;

        letter-spacing: 0.06em;

        color: #FFFFFF;
    }
    #footer-location-boston {
        width: 100%;
        height: 46px;
    }
    #footer-location-boston a, #footer-location-london a{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        text-decoration: none;
    }
    #footer-location-london {
        width: 302px;
        height: 32px;
    }
    .footer-pin {
        width: 22px;
        height: 32px;
    }
    #footer-boston {
        width: 260px;
        height: 46px;
        margin: 0;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        letter-spacing: 0.06em;

        color: #F1CDB3;

    }
    #footer-london {
        width: 260px;
        height: 23px;
        margin: 0;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        letter-spacing: 0.06em;

        color: #F1CDB3;
    }
    #footer-img {
        width: 300px;
        height: 310px;

        margin: 0 40px -40px 0;
    }

    .modal {
        margin-left: auto;
        margin-right: auto;

        visibility: hidden;
        z-index: 4;
        border-radius: 9px 0 0 9px;

        position: relative;
        width: 952px;
        height: 552px;


        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .close-button {
        box-sizing: border-box;

        width: 52px;
        height: 52px;

        /* color-primary */

        border: 2px solid #F1CDB3;
        border-radius: 100px;

        align-self: flex-end;
    }
    .modal-content {
        width: 900px;
        height: 500px;

        background: #ffffff;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .modal-about {
        width: 351px;
        height: 362px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .modal-heading {
        /* Jennifer */


        height: 45px;

        /* h3 */

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        /* or 45px */

        letter-spacing: 0.06em;

        color: #000000;
    }
    .modal-type {
        /* Dog - Labrador */


        height: 23px;

        /* h4 */

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        /* identical to box height, or 23px */

        letter-spacing: 0.06em;

        color: #000000;
    }
    .modal-text {
        width: 350px;
        height: 102px;

        /* h5 */

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        /* or 17px */

        letter-spacing: 0.06em;

        color: #000000;
    }
    .modal-list {
        height: 102px;

        padding-left: 20px;
    }
    .modal-img {
        height: 100%;

    }

    #shadow-block {
        background: rgba(41, 41, 41, 0.6);
        visibility: hidden;
        height: 100px;
        width: 100%;
        z-index: 3;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    body {
        position: relative;
        width: 768px;
        /*height: 5291px;*/
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #header {
        width: 100%;
        height: 60px;

        margin-top: 30px;
        z-index: 1;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #logo a {
        width: 186px;
        height: 60px;
        text-decoration: none;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #logo-title {
        width: 186px;
        height: 35px;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;

        display: flex;
        align-items: center;
        letter-spacing: 0.06em;

        color: #F1CDB3;
        margin: 0;
    }
    #logo-sub {
        width: 186px;
        height: 15px;

        font-family: 'Arial', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: 0.1em;

        /* color-light-xl */

        color: #FFFFFF;
        margin: 0;
    }
    #nav-menu {
        width: 443px;
        height: 27px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .a-nav-menu {
        font-family: 'Arial', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #CDCDCD;
        text-decoration: none;
    }
    .activated {
        color: #FAFAFA;
        border-bottom: solid 3px #F1CDB3;
    }
    #burger-container{
        display: none;
    }

    #start-screen {
        /*height: 1165px;*/
        background: url("../../assets/images/start-screen-background.jpg"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
        margin-top: -90px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #start-screen-content {
        width: 569px;
        height: 1015px;
        margin-top: 100px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #start-screen-text {
        width: 460px;
        height: 370px;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #start-screen-text-heading {
        width: 310px;
        height: 114px;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;

        display: flex;
        align-items: center;

        color: #FFFFFF;
    }
    #start-screen-text-text {
        width: 460px;
        height: 72px;
        margin: 0;

        font-family: 'Arial', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;

        display: flex;
        align-items: center;

        color: #CDCDCD;
    }
    #start-screen-text-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        padding: 15px 45px;
        gap: 10px;

        /*width: 207px;*/
        height: 52px;

        background: #F1CDB3;
        border-radius: 100px;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        /* identical to box height, or 22px */

        letter-spacing: 0.06em;

        color: #292929;

    }
    #start-screen-img {
        width: 569px;
        height: 593px;
    }

    #about {
        height: 1048px;

        background: #FFFFFF;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #about-content {
        width: 437px;
        height: 868px;

        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    #about-img {
        width: 300px;
        height: 408px;
    }
    #about-content-text {
        width: 430px;
        height: 380px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #about-heading {
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        /* or 45px */

        display: flex;
        align-items: center;
        letter-spacing: 0.06em;

        /* color-dark-l */

        color: #545454;
    }
    #about-sub1 {
        font-family: 'Arial', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        /* or 24px */

        display: flex;
        align-items: center;

        /* color-dark-xl */

        color: #4C4C4C;
    }

    #pets {
        height: 877px;

        background: #F6F6F6;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #pets-content {
        width: 708px;
        height: 750px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #pets-heading {
        width: 400px;
        height: 90px;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        color: #545454;
    }

    #pets-slider {
        width: 708px;
        height: 435px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .rotate-arrow {
        transform: rotate(180deg);
    }

    .pets-arrow-button {
        box-sizing: border-box;

        padding: 23px 19px;

        width: 52px;
        height: 52px;

        background: #F6F6F6;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
    }

    .card {
        width: 270px;
        height: 435px;

        background: #FAFAFA;
        border-radius: 9px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;


    }

    .pets-learn-more {
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;

        letter-spacing: 0.06em;

        color: #292929;

        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 45px;
        gap: 10px;

        width: 187px;
        height: 52px;

        background: #ffffff;
        border: 2px solid #F1CDB3;
        border-radius: 100px;

        flex: none;
        order: 0;
        flex-grow: 0;

        white-space: nowrap;

    }

    .pet-name {
        width: 74px;
        height: 23px;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        color: #545454;
    }

    .pet-img {
        border-radius: 9px 9px 0 0;
        width: 270px;
        height: 270px;
    }

    #pets-button {
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;

        letter-spacing: 0.06em;

        color: #292929;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 45px;
        gap: 10px;

        width: 260px;
        height: 52px;

        background: #F1CDB3;
        border-radius: 100px;
        border: #F1CDB3;

        white-space: nowrap;
    }

    .modal {
        display: none;
    }

    #help {
        height: 779px;

        background: #FFFFFF;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #help-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 630px;
        height: 599px;
    }

    #help-heading {
        width: 308px;
        height: 90px;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        color: #545454;
    }

    .card-list {
        width: 630px;
        height: 449px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .help-list-item {
        width: 170px;
        /*height: 120px;*/
        margin: 2% 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }

    .help-list-img {
        height: 60px;
    }

    .help-list-text {
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        display: flex;
        align-items: center;
        text-align: center;

        letter-spacing: 0.06em;

        color: #545454;

        margin-top: 30px;
    }


    #donation {
        height: 783px;

        background: #F6F6F6;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #donat-content {
        width: 380px;
        height: 601px;

        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    #donat-heading {
        width: 300px;
        height: 90px;
        margin-top: 0;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;

        display: flex;
        align-items: center;
        letter-spacing: 0.06em;

        color: #545454;
    }

    #donat-content-bank {
        width: 320px;
        height: 17px;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;

        display: flex;
        align-items: center;
        letter-spacing: 0.06em;

        color: #545454;
    }

    #donat-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 10px;
        padding: 0;

        width: 349px;
        height: 43px;

        background: #F1CDB3;
        border-radius: 9px;

        text-decoration: none;
    }

    #donat-logo {
        width: 30px;
        height: 23px;
    }

    #donat-content-content-bank-number {
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        display: flex;
        align-items: center;
        letter-spacing: 0.06em;

        color: #545454;

        text-decoration: none;
    }

    #donat-inf {
        font-family: 'Arial', serif;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin-top: 20px;

        display: flex;
        align-items: center;

        color: #B2B2B2;
    }

    #footer {
        min-width: 768px;
        height: 639px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: url("../../assets/images/start-screen-background.jpg"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    }

    #footer-content{
        width: 708px;
        height: 606px;
        margin-top: 30px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    #footer-contacts{
        width: 278px;
        height: 234px;
        flex: 0 1 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #footer-contacts-heading{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;

        letter-spacing: 0.06em;

        color: #FFFFFF;
        margin: 0;
    }
    #footer-contacts-mail a{
        width: 260px;
        height: 32px;
        text-decoration: none;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #mail-logo{
        width: 40px;
        height: 32px;
    }
    #footer-mail-name{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        letter-spacing: 0.06em;

        color: #F1CDB3;

        margin: 0;
    }
    #footer-location{
        width: 302px;
        height: 234px;

        display: flex;
        flex: 0 1 50%;

        flex-direction: column;
        justify-content: space-between;
    }
    #footer-contacts-phone  a{
        width: 260px;
        height: 32px;
        text-decoration: none;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #phone-icon{
        width: 40px;
        height: 32px;
    }
    #footer-phone-number{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        letter-spacing: 0.06em;

        color: #F1CDB3;

        margin: 0;
    }
    #footer-location{
        width: 354px;
        height: 234px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    #footer-location-heading{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;

        letter-spacing: 0.06em;

        color: #FFFFFF;
        margin: 0;
    }
    #footer-location-boston a{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        text-decoration: none;

        width: 302px;
        height: 46px;
    }
    #footer-boston{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        letter-spacing: 0.06em;

        color: #F1CDB3;

        margin: 0 0 0 20px;
    }
    #footer-location-london a{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        text-decoration: none;

        width: 302px;
        height: 32px;
    }
    #footer-london{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        letter-spacing: 0.06em;

        color: #F1CDB3;
        margin: 0 0 0 20px;

    }
    .footer-pin{
        width: 22px;
        height: 32px;
    }
    #footer-img{
        width: 300px;
        height: 310px;
        margin-bottom: 0;
        flex: 0 1 50%;

    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    body{
        position: relative;
        width: 320px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        margin: 0 auto;
    }

    #header{
        width: 257px;
        height: 60px;
        margin: 30px 53px 0 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        z-index: 1;
    }
    #logo a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        text-decoration: none;
    }
    #logo-title{
        margin: 0;
        width: 100%;
        height: 35px;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;

        display: flex;
        align-items: center;
        letter-spacing: 0.06em;

        color: #F1CDB3;
    }
    #logo-sub{
        width: 186px;
        height: 15px;

        font-family: 'Arial', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;

        display: flex;
        align-items: center;
        letter-spacing: 0.1em;

        color: #FFFFFF;
        margin: 0;
    }
    #nav-menu{
        display: none;
    }
    #burger-container{
        /*position: relative;*/
        /*overflow: hidden;*/
        width: 30px;
        height: 22px;
        background: #F1CDB3;
    }
    #toggle{
        display: none;
    }
    #toggle:checked{

    }
    #burger{
        display: none;
    }

    #start-screen{
        background: url("../../assets/images/start-screen-background.jpg"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
        margin-top: -120px;
        height: 823px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        width: 320px;
    }
    #start-screen-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        width: 300px;
        height: 673px;

        /*margin-top: 150px;*/
    }
    #start-screen-text{
        width: 300px;
        height: 296px;

        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    #start-screen-text-heading{
        margin: 0 auto;
        text-align: center;

        width: 300px;
        /*height: 64px;*/

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: #FFFFFF;
    }
    #start-screen-text-button {
        /*width: 207px;*/
        height: 53px;

        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        padding: 15px 45px;
        gap: 10px;

        background: #F1CDB3;
        border-radius: 100px;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;

        letter-spacing: 0.06em;

        color: #292929;
    }
    #start-screen-text-text{
        width: 300px;
        height: 96px;

        margin: 0;

        font-family: 'Arial', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;

        display: flex;
        align-items: center;

        color: #CDCDCD;
    }
    #start-screen-img{
        height: 260px;
    }

    #about{
        height: 974px;
        width: 320px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #about-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;

        height: 890px;
        width: 300px;
    }
    #about-content-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #about-heading{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        margin: 0;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        color: #545454;
    }
    #about-sub1{
        font-family: 'Arial', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;

        text-align: justify;

        color: #4C4C4C;

        width: 270px;
    }
    #about-img{
        width: 260px;
    }

    #pets{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 320px;
        height: 791px;

        background: #F6F6F6;
    }
    #pets-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 300px;
        height: 707px;
    }
    #pets-heading{
        margin: 0;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        color: #545454;
    }
    #pets-slider{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        flex-wrap: wrap;
    }

    .pets-arrow-button {
        margin-top: 20px;
        order: 2;

        box-sizing: border-box;

        padding: 23px 19px;

        width: 52px;
        height: 52px;

        background: #F6F6F6;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
    }

    .rotate-arrow{
        transform: rotate(180deg);
    }
    #pets-button {
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;

        letter-spacing: 0.06em;

        color: #292929;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 45px;
        gap: 10px;

        width: 260px;
        height: 52px;

        background: #F1CDB3;
        border-radius: 100px;
        border: #F1CDB3;

        white-space: nowrap;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        width: 270px;
        height: 435px;
        background: #FAFAFA;
    }
    .pet-name{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        color: #545454;
    }
    .pets-learn-more{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;

        letter-spacing: 0.06em;

        color: #292929;

        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 45px;
        gap: 10px;

        width: 187px;
        height: 52px;

        border: 2px solid #F1CDB3;
        border-radius: 100px;
        background: #ffffff;

        flex: none;
        order: 0;
        flex-grow: 0;

        white-space: nowrap;

    }
    .hidden-320{
        display: none;
    }
    .modal{
        display: none;
    }

    #help{
        min-height: 800px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #help-content{
        height: 745px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #help-heading{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;

        margin-bottom: 0;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        color: #545454;
    }
    .card-list{
        width: 290px;
        height: 555px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .help-list-item{
        margin-top: 30px;
        width: 130px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .help-list-img{
        height: 60px;
    }
    .help-list-text{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        color: #545454;
    }

    #donation{
        background: #F6F6F6;

        height: 542px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #donat-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    #donat-img{
        height: 135px;
        margin-top: 90px;
    }
    #donat-content-content{
        height: 281px;
        width: 300px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #donat-heading{
        /*margin: 0;*/
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        color: #545454;
    }
    #donat-content-bank{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;

        display: flex;
        align-items: center;

        color: #545454;
    }
    #donat-button{
        gap: 10px;

        width: 281px;
        height: 43px;

        background: #F1CDB3;
        border-radius: 9px;

        text-decoration: none;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #donat-logo{
        height: 23px;
    }
    #donat-content-content-bank-number{
        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;

        display: flex;
        align-items: center;
        letter-spacing: 0.06em;

        color: #545454;
    }
    #donat-inf{
        margin-top: 20px;
        width: 280px;

        font-family: 'Arial', serif;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        /* or 150% */

        display: flex;
        align-items: center;
        text-align: justify;

        color: #B2B2B2;

    }

    #footer{
        height: 809px;
        width: 320px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: url("../../assets/images/start-screen-background.jpg"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    }
    #footer-content{
        height: 800px;
        width: 300px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #footer-contacts{
        width: 278px;
        height: 208px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #footer-contacts-heading{
        margin: 0;
        width: 278px;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;

        text-align: center;
        letter-spacing: 0.06em;

        color: #FFFFFF;
    }
    #footer-contacts-mail{
        width: 251px;
        height: 32px;
    }
    #footer-contacts-mail a, #footer-contacts-phone a{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        text-decoration: none;
    }
    #mail-logo{
        height: 26px;
    }
    #footer-mail-name, #footer-phone-number{
        margin: 0;


        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        letter-spacing: 0.06em;

        color: #F1CDB3;
    }
    #footer-contacts-phone{
        width: 239px;
        height: 32px;
    }
    #phone-icon{
        height: 32px;
    }
    #footer-location{
        width: 300px;
        height: 222px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    #footer-location-heading{
        margin: 0;
        width: 278px;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;

        text-align: center;
        letter-spacing: 0.06em;

        color: #FFFFFF;
    }
    #footer-location-boston{
        width: 300px;
        height: 46px;
    }
    #footer-location-boston a, #footer-location-london a{
        width: 300px;
        height: 46px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        text-decoration: none;
    }
    .footer-pin{
        height: 32px;
    }
    #footer-boston, #footer-london{
        margin: 0;

        font-family: 'Georgia', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;

        text-align: end;

        letter-spacing: 0.06em;

        color: #F1CDB3;
    }
    #footer-img{
        height: 269px;
    }

}
/*-----------------------------------
    animations
    -----------------------------------*/

.a-nav-menu:hover{
    color: #FAFAFA;
    border-bottom: solid 3px #F1CDB3;
}
#start-screen-text-button:hover{
    background: #FDDCC4;
    border-radius: 100px;
}
#pets-button:hover{
    background: #FDDCC4;
}
.pets-arrow-button:hover{
    background: #FDDCC4;
    border: 100px #FDDCC4;
}
.pets-learn-more:hover{
    background: #F1CDB3;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.07);
    cursor: pointer;
}
.card:hover button{
    background: #F1CDB3;
}
#donat-button:hover{
    background: #FDDCC4;
}
.close-button:hover{
    background: #F1CDB3;
}